<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../assets/css/icecream_style.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Raleway|Rochester" rel="stylesheet">
		<title>Ice cream time!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/icecreams.js"></script>
		
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
