<div class="container">
<div class="intro">
<h1>Ice cream flavors!</h1>
<p>Enter your favorite flavor. Then, click to devour it!</p>
</div>
<div class="uneaten-flavors">
<h2>Uneaten ice cream flavors:</h2>

<ul>
  {{#each flavors}}
    {{#unless eaten}}
      {{> flavors/flavor-block eaten=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>
<div class="eaten-flavors">
<h2>You ate these!</h2>

<ul>
  {{#each flavors}}
    {{#if eaten}}
      {{> flavors/flavor-block eaten=false}}
    {{/if}}
  {{/each}}
</ul>
</div>
<div class="add-flavor">
<h2>Add a flavor</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Flavor Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="flavor">Eaten?</label><br>
    <input type="radio" name="eaten" value="1" checked> Uneaten!<br>
    <input type="radio" name="eaten" value="0"> Eaten
  </div>

  <button type="submit">Add Flavor</button>
</form>
</div>
</div>